<div class="websiteName">
  <span>Nutrition Information </span>
</div>

<div class="input-group mb-3" id="searchbar">
  <input
    type="search"
    [(ngModel)]="searchWord"
    class="form-control"
    placeholder="Please insert the food name..."
  />
  <div class="input-group-append">
    <button
      class="btn btn-success"
      type="button"
      id="button-addon2"
      (click)="onConfirm()"
    >
      Go
    </button>
  </div>
</div>

<br />
<br />
<div class="content of the page">
  <div id="errorMessage" *ngIf="isError; else foodcontent">
    <span class="alert alert-danger" role="alert"> {{ errorMessage }}</span>
  </div>
  <ng-template #foodcontent class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="cardTitle">{{ foodName }}</h5>
      <img id="theimg" [src]="imgURL" *ngIf="displayImg" />
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="food_info_label">Energy in kcal:</span>
        {{ food.ENERC_KCAL }}
      </li>
      <li class="list-group-item">
        <span class="food_info_label">Proteins in gram:</span>
        {{ food.PROCNT }}
      </li>
      <li class="list-group-item">
        <span class="food_info_label">Carbs in gram:</span>
        {{ food.CHOCDF }}
      </li>
      <li class="list-group-item">
        <span class="food_info_label">Fats in gram:</span>
        {{ food.FAT }}
      </li>
      <li class="list-group-item">
        <span class="food_info_label">Fiber in gram:</span>
        {{ food.FIBTG }}
      </li>
    </ul>
  </ng-template>
</div>
